@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до мого першого ASP.NET Core додатку!</h1>
    <p>Цей проєкт створений для виконання практичного завдання.</p>
</div>
